
<script type="text/javascript">
  Shadowbox.init({
    skipSetup: true,
    players: ["iframe"],
    modal:  true
  });
</script>


<div class="pgTitle">
  <h2 class="f_l">使用條款</h2>
  <div class="completeBtn">
    <input type="button" value="編輯"  class="button button-raised button-primary" onclick="location.href='/admin/views/system/rule_edit.html'"/>

  </div>
  <hr class="cb" />
</div>

<div class="commonBox">
  使用條款使用條款使用條款使用條款使用條款使用條款
</div>
